<app-navbaremployee></app-navbaremployee><br><br>
<h3 style="text-align: center;"><b>TRACK SCHOLARSHIP DETAILS</b></h3>
<div class="container pb-3 pt-3" >
    <div class="form-group">
        <input class="form-control" style="margin-left: 5cm; width:20cm ;" [(ngModel)]="username" type="text" placeholder="Provide fullname please !!"><br>
        <button (click)="searchRequest()" style="margin-left:13cm;width:3cm ;font-size: larger;" class="btn btn-primary btn-sm">search</button>
    </div><br>
   <div *ngIf="x.name==this.username ">
        <div id="requeststruct" class="grid-container pb-3 pt-3">
            <div class="grid-item">Scholarship id : <b> {{x.appId}}</b></div>
            <div class="grid-item">Student name : <b>{{x.name}}</b></div>
            <div class="grid-item">Student class name :<b> {{x.className}}</b></div>
            <div class="grid-item">Student state :<b> {{x.state}}</b></div>
            <div class="grid-item">Student college name :<b> {{x.collegeName}}</b></div>
            
          <!--  <div class="grid-item">Email: {{x.emailId}}</div>
            <div class="grid-item">Phone Number: {{x.phonenumber}}</div>
            <div class="grid-item">AadharNumber : {{x.aadharCardNumber}}</div>-->
            <div class="grid-item">Student postal address: <b>{{x.postalAddress}}</b></div>
            <div class="grid-item"></div>
            <div *ngIf="x.status=='approved'">
                <div style="background-color: green;width: fit-content;" class="grid-item">Status: {{x.status}}</div>
            </div>
            <div *ngIf="x.status=='rejected'">
                <div style="background-color: red;width: fit-content;" class="grid-item">Status: {{x.status}}</div>
            </div>
            <div *ngIf="x.status==null || x.status==''">
                <div style="background-color: yellow;width: fit-content;" class="grid-item">Status: In_progress</div>
            </div>
            <div class="grid-item" *ngIf="x.assigned!=0;else goto">Assined to employee id : <b>{{x.assigned}}</b></div>
            <ng-template #goto><b>assign pending </b></ng-template>
        </div><br><br>
        <ng-container *ngIf="x==null"><h3 style="color: blue;text-align: center;">INVALID INPUT CHECK AGAIN </h3></ng-container>
    </div>
    <ng-container *ngIf="x==''||x==null"><h3 style="color: blue;text-align: center;">INVALID INPUT CHECK AGAIN </h3></ng-container>
</div>

