#homepage{
    background: rgb(211, 83, 83);
    padding: 0.5cm;
    box-sizing: border-box;
    height: 80px;
    z-index: 0;
}
#requests{
    text-decoration: none;
    font-size: 17px;
    margin-left: 13cm ;
    margin-top: 0.3cm;
    color: white;
}
#requeststatus{
    text-decoration: none;
    font-size: 17px;
    margin-left: 1.2cm;
    margin-top: 0.3cm;
    color:  white;
}
#logout{
    text-decoration: none;
    font-size: 17px;
    margin-left: 1.2cm;
    margin-top: 0.3cm;
    color:  white;
}
a:hover{
    background-color: #838f96;
}
