<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
    </label>
    <label class="logo">SCHOLARSHIP PORTAL</label>
    <ul>
   <li>
        <li><a routerLink="/student/scholarshipForm" id="scholarshipForm">APPLY SCHOLARSHIP</a></li>
        <li><a  routerLink="/login" id="login" *ngIf="! isLoggedIn()">LOGIN</a></li>
        <li><a routerLink="/student/status">STATUS</a></li>
        <li><a routerLink="/student/update">UPDATE</a></li>
        <li><a routerLink="/student/profile">PROFILE</a></li>
        <li><a (click)="logOut()" id="logout" *ngIf="isLoggedIn()"> <!--(click)="logout()"-->LOGOUT</a></li>
    </ul>
</nav>







