<app-navbaremployee></app-navbaremployee>
<br>
<h4 style="text-align: center;">You are seeing details of <b>{{stuid}}</b></h4>
<h2 id="details">{{x.application_details.firstName}} {{x.application_details.lastName}}</h2>
<b><hr></b>
        <div id="requeststruct" class="grid-container pb-3 pt-3">
            <div class="grid-item">Scholarship Id : <b> {{x.id}}</b></div>
            <div class="grid-item">Student name : <b>{{x.application_details.name}}</b></div>
            <div class="grid-item">Student class name :<b> {{x.application_details.className}}</b></div>
            <div class="grid-item">Student state :<b> {{x.application_details.state}}</b></div>
            <div class="grid-item">Student college name :<b> {{x.application_details.collegeName}}</b></div>
            <div class="grid-item">Studenet postal address: <b>{{x.application_details.postalAddress}}</b></div>
            <div class="grid-item">Student email: <b>{{x.application_details.userModel.email}}</b></div>
            <div class="grid-item">Student mobile number: <b>{{x.application_details.userModel.mobileNumber}}</b></div>
            <div class="grid-item">Student roll number: <b> {{x.rollNum}}</b></div>
            <h4>Bank details</h4>
            <h4></h4>
            <div class="grid-item">Bank account number: <b>{{x.accountNum}}</b></div>
            <div class="grid-item">Aadhar card number:<b> {{x.adharNum}}</b></div>
            <div class="grid-item">Bank branch name: <b>{{x.branch}}</b></div>
            <div class="grid-item">Bank IFSC number: <b>{{x.ifscNum}}</b></div>
            
            <button type="button"  class="btn btn-primary" (click)="verify(x.application_details.appId)">verify document</button>
            <button type="button" (click)="approve(x)" style="margin-left: 14cm;width: 3cm;" class="btn btn-success btn-lg">approve</button>
            <button type="button" (click)="reject(x)" style="margin: 1cm;width: 3cm;" class="btn btn-danger btn-lg">reject</button>
        </div>
