<app-navbar></app-navbar>
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2 style="text-align: center;">EMPLOYEE LIST</h2>
    </div>
    <div class="container">
        <div class="panel-body">
            <table class="table table-striped">
              <thead><br>
                <tr>
                  <th>Id</th>
                  <th>Employee name</th>
                  <th>Email</th>
                  <th>Actions</th>
                </tr>
              </thead><br>
              <tbody *ngFor="let employee of employees">
                <tr  *ngIf="employee.userRole=='Employee'">
                  <td>{{employee.userId}}</td>
                  <td>{{employee.userName}}</td>
                  <td>{{employee.email}}</td>
                  <td><button (click)="deleteEmployee(employee.userId)" class="btn btn-danger">delete</button>
                    <button (click)="updateEmployee(employee.userId)" class="btn btn-primary" style="margin-left: 10px">update</button>
                    <button (click)="employeeDetails(employee.userId)" class="btn btn-info" style="margin-left: 10px">details</button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>